.super-mario {
    width: 200px;
    position: absolute;
    left: 60px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 110px;
    top: 400px;
  }
  
  .baloon {
    position: absolute;
    top: 270px;
    left: 770px;
   
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 310px;
    left: 790px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 80%;
    top: 400px;
  }